# Repo-Sync Config
#
#   /////////////////
#   //  © NewDawn0 //
#   /////////////////

# repositoryList.txt file location
# (Needs to be an absolute path)
repoList="/Users/tom/.ndos/repoSync/"
repoListFile="repoList.txt"

# syncRepos
# paste one of the following options in the crontab file
# (crontab can be opened with: $ crontab -e)
#   0 0 1 1 * /usr/local/bin/repoSync    # <--> yearly
#   0 0 1 * * /usr/local/bin/repoSync    # <--> monthly
#   0 0 * * 1 /usr/local/bin/repoSync    # <--> weekly
#   0 0 * * * /usr/local/bin/repoSync    # <--> daily

# Info
# <-------------------------------------------------------------->
# repoList
#   Txt file with all the repos and url
#   Structure:
#       <FileLocation>, <RepoUrl>
#
# syncRepos
#   Options:
#       daily
#       weekly
#       monthly
#       yearly
#
# Dependencies:
#   cp
#   rm
#   git
#   cron
#
# Commands:
#   repoSync add    ->  adds a repo to the repoList.txt
#   repoSync rm     ->  removes a repo from the repoList.txt
#   repoSync list   ->  lists all the repos in the repoList.txt file
#
#   repoSync add:
#       repoSync add <FileLocation>, <RepoUrl>
#
#   repoSync rm
#       repoSync rm <FileLocation>
#
#   repoSync list
#       repoSync list